{{> welcomemenu }}

<section class="ui inverted yellow segment">
    <section class="ui purple raised segment">
        <div class="ui grid">

            <aside class="eight wide column">
                <img class="ui big image" src="images/twitterWeb.png">
            </aside>

            <article class="eight wide center aligned column">
                <header class="ui red header"> Welcome to Twitter</header>
                <p> Tweet till your beaks content </p>
            </article>

        </div>
    </section>
</section>
