
<section class="ui raised segment">
    <div class="group">



        <p>All your tweets</p>
        <table frame="above">
            <tr>
                <th>{{#each tweets}}</th>

                <th>{{message}}</th>

              <th>{{date}}</th>

                {{/each}}
            </tr>



    </div>


        <article class="ten wide column">
            <form class="ui form" action="/userremovetweet" method="POST">

                    <thead>
                    <tr>
                        <th>Select</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>


                            <!-- https://semantic-ui.com/elements/button.html -->
                            <div class="ui tiny buttons">
                                <button class="ui positive button" id="remove_tweet"><i class="trash icon"></i>Selected
                                </button>
            </form>
                            </article>
                            </div>
</section>
