<section class="ui inverted yellow segment">
    <section class="ui purple raised segment">
        <div class="ui grid">
            <div class="ui eight wide column">
                <div class="ui purple raised fluid form center aligned segment">

                     <div class="ui blue field">
                            <h2 class="ui blue header"> Tweet Here</h2>
                            <textarea placeholder="What's on your mind..." name="text" rows="4" cols="50"></textarea>
                            <span id='remainingChars'></span>
                        </div>
                    <a>a ng-click="toggleSort('tweet')>Tweet</a></th>
                    <a href="/Tweet/{{tweet._id}}">{tweet}}
                    </a>
                    {{> formerror }}
                </div>
            </div>
        </div>

            <aside class="six wide column">
                <img src="images/twitterWeb.png" class="ui medium image">
            </aside>
        </div>
    </section>
</section>