
<section class="ui raised segment">
</div class =


        <article class="ten wide column">
            <form class="ui form" action="/userremovetweet" method="POST">

                    <thead>
                    <tr>
                        <th>Select</th>
                        <th></th>
                        <th>All Your Timeline Tweets</th>
                    </tr>
                    </thead>

                    <tbody class="ui segment">

                    {{#each tweets}}
                        <tr>
                        {{message}}
                        {{date}}

                    {{/each}}


                    </tbody>
                    <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>
                            <!-- https://semantic-ui.com/elements/button.html -->
                            <div class="ui tiny buttons">
                                <button class="ui positive button" id="remove_tweet"><i class="trash icon"></i>Selected
                                </button>
                        </th>
                    </tr>
                    </tfoot>

            </form>
        </article>
    </div>
</section>
