
<section class="ui raised segment">
    <div class="ui grid">
        <aside class="six wide column">

        </aside>
        <article class="eight wide column">
            <form class="ui form"  action="/deleteTweet" method="POST">
                <table class="ui celled table segment">
                    <thead>
                    <tr>
                        <th>Tweet</th>

                        <th></th>


                    </tbody>
                    <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>
                            <button  class="ui red submit icon button"> Delete
                            </button>
                        </th>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </article>
    </div>
</section>


