{{> welcomemenu }}
<section class = "ui inverted purple segment">
    <section class ="ui pink raised segment">
        <h2 class = "ui center aligned header segment">

            All your tweets
        </h2>

</section>
<section class="ui raised segment">
    <form class="ui form" action="/deletetweet" method="POST">
        <div class="group">
            <img class="ui medium centered image" src="images/twitWeb.png">

            <article class="ten wide column">
                <tr>
                <th>{{#each tweets}}</th>
                    <th>{{message}}</th>
                    <th>{{date}}</th>
                    <div class="ui checkbox">
                        <input type="checkbox" class="Checkbox12" name="{{id}}">
                        <script>
                            if (document.getElementsByClassName('checkbox1')[0].checked == true) {
                                console.log('true')
                            } else {
                                console.log('false')
                            }
                        </script>
                        <label></label>
                    </div>
                {{/each}}
                </tr>
            </article>
        </div>
        <thead>

        </thead>
        <!-- https://semantic-ui.com/elements/button.html -->

        <div class="ui tiny buttons">
            <button class="ui positive button" id="remove_tweet"><i class="trash icon"></i>Delete
            </button>
            </article>
        </div>
    </form>
</section>
</section>
