<section class="ui raised segment">
    <section class="ui purple raised segment">

    <div class="ui grid">



        <h2>All your Tweets</h2>
        {{#each tweets}}

        <table class="ui celled table segment" style="table-layout: fixed">
            <thead>




            </thead>
        <tbody>

        <tr>
            <td style="word-wrap: break-word"> {{body}}

                <a href="/removeTweet/{{id}}">
                    <i class=" large red trash icon"></i>
                </a>


            </td>
        </tr>

        <tr>


        </tr>

        {{/each}}

    </tbody>

    </table>

    </div>
</section>
</section>
