
<section class="ui raised segment">
    <div class="ui grid">
        <aside class="six wide column">

        </aside>
        <article class="eight wide column">
            <form class="ui form"  action="/deleteTweet" method="POST">

                    <thead>
                    {{#each tweets}}
                        <tr>
                        {{message}}
                        {{date}}

                    {{/each}}


                    </tbody>
                    <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>
                            <button onclick = "removetweet()">Delete</button>
                        </th>
                    </tr>
                    </tfoot>

            </form>
        </article>
    </div>
</section>
