<!-- Created by Bernadette Murphy 21/8/2018
<-- With guidance from the tweetlist file written before.-->

{{> welcomemenu }}

<script src="https://www.gstatic.com/firebasejs/5.4.1/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyCf0uGF7WW8GZ6hetTnLBAH1IT0YZADgsA",
        authDomain: "mytwitterweb.firebaseapp.com",
        databaseURL: "https://mytwitterweb.firebaseio.com",
        projectId: "mytwitterweb",
        storageBucket: "mytwitterweb.appspot.com",
        messagingSenderId: "1006074317181"
    };
    firebase.initializeApp(config);
</script>
<section class="ui raised segment">
    <form class="ui form" action="/deleteuser" method="POST">
        <div class="group">
            <img class="ui medium centered image" src="images/twitWeb.png">
            <p>All users</p>
            <article class="ten wide column">
                <tr>
                <th>{{#each users}}</th>
                    <th>{{firstName}} {{lastName}}</th>

                    <div class="ui checkbox">
                        <input type="checkbox" class="Checkbox12" name="{{id}}">
                        <script>
                            if (document.getElementsByClassName('checkbox1')[0].checked == true) {
                                console.log('true')
                            } else {
                                console.log('false')
                            }
                        </script>
                        <label></label>
                    </div>
                {{/each}}
                </tr>
            </article>
        </div>

        <!-- Import and configure the Firebase SDK -->
        <!-- These scripts are made available when the app is served or deployed on Firebase Hosting -->
        <!-- If you do not serve/host your project using Firebase Hosting see https://firebase.google.com/docs/web/setup -->
        <script src="/__/firebase/5.4.1/firebase-app.js"></script>
        <script src="/__/firebase/5.4.1/firebase-auth.js"></script>
        <script src="/__/firebase/5.4.1/firebase-database.js"></script>
        <script src="/__/firebase/init.js"></script>

        <script src="scripts/main.js"></script>
        </body>


        <!-- https://semantic-ui.com/elements/button.html --->

        <div class="ui tiny buttons">
            <button class="ui positive button" id="remove_tweet"><i class="trash icon"></i>Selected
            </button>
            </article>
        </div>

       <!--<div class="ui tiny buttons">
            <button class="ui positive button" id="view_tweet"><i class="view icon"></i>Selected
            </button> -->
            </article>
        </div>

    </form>
</section>
