<section class="ui inverted yellow segment">
    <section class="ui purple raised segment">
    <div class="ui grid">
        <aside class="six wide column">

        </aside>
        <article class="eight wide column">
            <table class="ui celled table segment">
                <thead>
                <tr>
                    <th>Text</th>
                    <th>words tweeted</th>
                    <th>Tweeter</th>
                </tr>
                </thead>
                <tbody>
                {{#each tweets}}
                    <tr>
                        <td> {{text}} </td>
                        <td> {{tweeted}} </td>
                        <td> {{tweeter.firstName}} {{tweeter.lastName}} </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </article>
    </div>
</section>
</section>