<section class = "ui inverted purple segment">
    <section class ="ui pink raised segment">
        <h2 class = "ui center aligned header segment">
            View all the Tweeters
            {{> userlist user=users}}

        </h2>
    </section>
</section>